body {
  font-family: Arial;
  color: white;
  background-color: black;
}

h2 {
  color: white;
}

img {
  /*  border-radius: 50%; */
}

.hidden {
  display: none;
}

.listwrap {
  display: block;
  width: 25%;
  float: left;
}

.btnwidth {
  width: 125px;
}

.clear {
    clear: both;
}

.flex-row {
  display: flex;
  justify-content: center;
}

hr {
  display: block;
  position: relative;
  margin: 30px;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-bottom: 1px solid #ffffff;
}
